<!--Name: profile.html-->
<!--Purpose: displays user profile-->
<!--Version: Lastly modified on June 06, 2020-->
<!--Author: Salamata Bah -->
<!--Dependencies: none-->

<section class="col-md-12">
    
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                
                <div class="card-header">
                    <div class="card-header-menu">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="card-header-headshot"></div>
                </div>
                
                <div class="card-content">

                    <div class="card-content-member">
                        <h4 class="m-t-0"><%= username %> </h4>
                        <button><a href="option.html">Save your Restaurants</a></button>
                    </div>
        
                    <div class="container">
                        <a href="/logout" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                          </a>
                    </div>
                </div>
                <ul class="selections" >
                    <li><a href="home_test.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>

                    <style>
                    .selections{
                  float: right;
                  list-style: none;
                  margin-top: 25px;
                  font-weight: bolder;
                  font-size: 20px;    
                  }
              
                  .selections li{
                  padding-left: 10px;
                  padding-right: 55px;
                  display: inline-block;
              }
              
                .selections li a{
                  color: white;
              }
              
                .selections li a:hover{
                  color: #233342;
              }
              
                .logo img{
                  float: left;
                  margin-top: 5px;
                  height: 90px;
              }
                    </style>
                  </ul>
                <div class="card-footer">
                    <div class="card-footer-message">
                        <h4><i class="fa fa-comments"></i>Favorite Restaurants</h4>
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="col-sm-12 col-md-8">
            <div class="review-block">
                <div class="row">
                    <ul>
                        <% for(let restaurant of favorites){ %>
                            <li><a href=<%= restaurant %>><%= restaurant %></a></li>
                        <% } %>    
                    </ul>                    
                </div>
            </div>
        </div>
    </div> 
    <div class = "logout">
        <a class="button" href="/logout"></a>
        
    </div>
    </section>
    
    <style type="text/css">
        body{
        margin-top:20px;
        background:#eee;
    }
    
    /*** Portfolio page
    ==============================================================================*/
    
    .card {
        margin-bottom: 20px;
    }
    
    .card-header {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url('meet.jpg');
        background-size: cover;
        background-position: center center;
        padding: 30px 15px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .card-header-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 4em;
        width: 4em;
    }
    
    .card-header-menu:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border-left: 2em solid transparent;
        border-bottom: 2em solid transparent;
        border-right: 2em solid #37a000;
        border-top: 2em solid #37a000;
        border-top-right-radius: 4px;
    }
    
    .card-header-menu i {
        position: absolute;
        top: 9px;
        right: 9px;
        color: rgb(61, 48, 48);
        z-index: 1;
    }
    
    .card-header-headshot {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        border: 2px solid #319ee7;
        background-image: url('user.png');
        background-size: cover;
        background-position: center center;
        box-shadow: 1px 3px 3px #3E4142;
    }
    
    .card-content-member {
        position: relative;
        background-color: #fff;
        padding: 1em;
        box-shadow: 0 2px 2px rgba(62, 65, 66, 0.15);
    }
    
    .card-content-member {
        text-align: center;
    }
    
    .card-content-member p i {
        font-size: 16px;
        margin-right: 10px;
    }
    
    .card-content-summary {
        background-color: #fff;
        padding: 15px;
    }
    
    .card-content-summary p {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
    }
    
    .card-footer-stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #2c3136;
    }
    
    .card-footer-stats div {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
        flex: 1 0 33%;
        padding: 0.75em;
    }
    
    .card-footer-stats div:nth-of-type(2) {
        border-left: 1px solid #3E4142;
        border-right: 1px solid #3E4142;
    }
    
    .card-footer-stats p {
        font-size: 0.8em;
        color: #A6A6A6;
        margin-bottom: 0.4em;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .card-footer-stats i {
        color: #ddd;
    }
    
    .card-footer-stats span {
        color: #ddd;
    }
    
    .card-footer-stats span.stats-small {
        font-size: 0.9em;
    }
    
    .card-footer-message {
        background-color: #3e6ae4;
        padding: 15px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .card-footer-message h4 {
        margin: 0;
        text-align: center;
        color: #fff;
        font-weight: 400;
    }
    
    .review-number {
        float: left;
        width: 35px;
        line-height: 1;
    }
    
    .review-number div {
        height: 9px;
        margin: 5px 0
    }
    
    .review-progress {
        float: left;
        width: 230px;
    }
    
    .review-progress .progress {
        margin: 8px 0;
    }
    
    .progress-number {
        margin-left: 10px;
        float: left;
    }
    
    .rating-block,
    .review-block {
        background-color: rgb(97, 113, 255);
        border: 1px solid #e1e6ef;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    
    .review-block {
        margin-bottom: 20px;
    }
    
    .review-block-img img {
        height: 60px;
        width: 60px;
    }
    
    .review-block-name {
        font-size: 12px;
        margin: 10px 0;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    
    .review-block-name a {
        color: #374767;
    }
    
    .review-block-date {
        font-size: 12px;
    }
    
    .review-block-rate {
        font-size: 13px;
        margin-bottom: 15px;
    }
    
    .review-block-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .review-block-description {
        font-size: 13px;
    }
    
    .container{

    position:fixed;
    right:10px;
    top:200px;
    }
    
    
    </style>
    